body{
    background-color: lightskyblue;
    background-image: linear-gradient(90deg, rgb(129, 204, 145), #2eacd4);
    font-family:serif;
}

#blink {
    font-size: 20px;
    font-weight: bold;
    color: #b30f0f;
    transition: 0.5s;
}

.button{
    background-color: white;
    width: 100px;
    height: 30px;
    border-color: red;
    border-radius: 12px;
}
.lgButton{
    width: 200px;
    height: 30px;
    border-radius: 12px;

}